@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  h1 {
    @apply text-[48px] xl:text-[64px] leading-[1.1] font-semibold;
  }
  h2 {
    @apply text-[36px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  h3 {
    @apply text-[20px] xl:text-[18px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline:hover {
    -webkit-text-stroke: 1px #00ff99;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* tipis */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* biar nyatu sama background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #eaaa15; /* sesuaikan warna accent Tailwind-mu */
  border-radius: 9999px; /* rounded penuh */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ea8b00; /* warna saat hover */
}

/* Untuk Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #eaaa15 transparent;
}
